/* Reset and base styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* A modern sans-serif font from Google Fonts */
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Roboto Slab', serif; /* A serif font from Google Fonts for headers */
    color: #212121;
    margin-top: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Links */
a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: #003580;
    text-decoration: underline;
}

/* List styles */
ul {
    padding-left: 20px;
}

li {
    list-style-type: disc; /* Adds a disc bullet to lists for better readability */
    margin-bottom: 10px;
}

/* Layout and Grid */
main {
    flex-grow: 1;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Navigation & Footer */
nav,
footer {
    background-color: #dedede;
    padding: 10px 20px;
    text-align: center;
}

footer {
    font-size: 0.8rem;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
